@charset "UTF-8";

.experience-wrap {
  & > h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .contents-wrap {
    padding: 16px 32px;
    display: flex;
    .info-wrap {
      width: 30%;
      .company-link {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .work-list {
      margin-left: 20px;
    }
  }
  @include mobile {
    .section-wrap {
      position: relative;
    }
    .contents-wrap {
      display: block;
      padding: 16px 24px;
      .info-wrap {
        width: 100%;
        & > div {
          max-width: 180px;
        }
      }
      .work-list {
        margin-top: 16px;
        margin-left: 0;
      }
    }
    .button-wrap {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
