@charset "UTF-8";

.experice-wrap {
  h2 {
    font-size: 28px;
  }
  .contents-wrap {
    display: flex;
    .info-wrap {
      width: 30%;
    }
  }
  @include mobile {
    .contents-wrap {
      display: block;
      .info-wrap {
        width: 100%;
      }
      .work-list {
        margin-top: 16px;
      }
    }
  }
}
