@charset "UTF-8";

.intro-wrap {
  .intro-container {
    display: flex;
    align-items: center;
  }
  .text-wrap {
    margin-left: 32px;
    & > p {
      @include word-break-wrap();

      font-size: 16px;
      line-height: 1.5;
      & > strong {
        font-weight: 600;
      }
    }
  }
  @include mobile {
    .intro-container {
      display: block;
    }
    .profile-wrap {
      display: flex;
      justify-content: center;
    }
    .text-wrap {
      margin-top: 16px;
      margin-left: 0
    }
  }
}
