@charset "UTF-8";

.project-wrap {
  .contents-wrap {
    padding: 16px 32px;
    & > h3 {
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #b5b3b3;
      padding-bottom: 16px;
      & > span:last-child {
        margin-left: 4px;
      }
    }
    & > div {
      margin-top: 12px;
    }
    h4 {
      font-weight: 600;
    }
    .skill-list {
      gap: 10px;
    }
  }
  @include mobile {
    .contents-wrap {
      position: relative;
      padding: 16px 24px;
      & > h3 {
        max-width: 180px;
        border-bottom: 0;
        padding-bottom: 0;
        & > span {
          display: block;
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
    .button-wrap {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
