@charset "UTF-8";

.project-wrap {
  .contents-wrap {
    padding: 16px 32px;
    & > h3 {
      font-size: 16px;
      font-weight: 600;
    }
    & > div {
      margin-top: 12px;
    }
    h4 {
      font-weight: 600;
    }
    .skill-list {
      gap: 10px;
    }
  }
  @include mobile {
    .contents-wrap {
      position: relative;
      padding: 16px 24px;
      & > h3 {
        max-width: 180px;
      }
    }
    .button-wrap {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
