@charset "UTF-8";

.skill-wrap {
  .contents-wrap {
    .skill-name {
      width: 100px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
    .skill-text-wrap > p {
      @include word-break-wrap();
    }
  }
  .skill-list-wrap {
    display: flex;
    align-items: center;
    .skill-list {
      margin-left: 12px;
    }
  }
  .sub-category-title {
    font-size: 16px;
    font-weight: 600;
  }
  .skill-list {
    gap: 8px;
  }
  @include mobile {
    .skill-name {
      width: 90px;
    }
    .skill-list-wrap {
      display: block;
      .skill-list {
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}