@charset "UTF-8";

.app-bar-wrap {
  .v-toolbar__content {
    width: 100%;
  }
  .app-bar-title {
    font-size: 24px;
    font-weight: 600;
  }
  .navigation-menu-wrap {
    display: flex;
  }
  .drawer-trigger-btn {
    display: none;
  }
  @include mobile {
    .navigation-menu-wrap {
      display: none;
    }
    .drawer-trigger-btn {
      display: block;
    }
  }
  @include tablet {
    .navigation-menu-wrap {
      display: none;
    }
    .drawer-trigger-btn {
      display: block;
    }
  }
}
