@charset "UTF-8";
// mixin

//display
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

// icon 사이즈 설정 mixin
@mixin icon($size: 24px) {
  width: $size;
  height: $size;
  display: inline-block;
}

// CJK text wrap 설정 mixin
@mixin word-break-wrap() {
  word-break: keep-all;
  word-wrap: break-word;
}

// text ... 으로 숨김처리
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
